@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





:root{
    --color-primary:#292a2d;
    --color-danger:#FF0060;
    --color-success:#89c4a1;
    --color-warning:#ffbb33;
    --color-info-dark:#364043;
    --color-dark:#222;
    --color-light:rgba(135, 142, 206, 0.18);
    --color-white:hsl(24, 38%, 95%);
    --color-dark-variant: #677483;
    --color-background:#f6f6f9c;

    --card-border-radius: 3.7rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.4rem;

    --card-padding: 1rem;
    --padding-1: 1.2rem;

    --box-shadow: 0.4rem 1rem var(--color-white);
}    


.dark-mode-variables{
    --color-dark:#444a7a;
    --color-light:rgba(126, 76, 76, 0.4);
    --color-white:#e1e9ee;
    --color-dark-variant: #50758a;
    --color-background: #23586e;
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);   

}

*{
    margin: 0px;
    padding:0;
    appearance: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;

}  

html{
    font-size: 14px;
   
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);

}

a{
    color: var(--color-dark);

}

img{
    display: block;
    width: 100%;
    object-fit: cover;

}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.75rem;
    
}

p{
    color: var(--color-dark);
}

b{
    color : var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary-text{
    color: var(--color-primary);
}

.danger-text{
    color: var(--color-danger);
}

.success-text{
    color: var(--color-success);
}
.warning-text{
    color: var(--color-warning);
}


.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.4rem;
    grid-template-columns: 16rem auto  24rem;
}

aside{
    height: 100vh;
    
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;

}

aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
   
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;

}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: none;
    border-radius: 19px;
    height: 92vh;
    cursor: pointer ;
    position: relative;
    top: 1.3rem;
    transition: all 0.3s ease;

}

    aside .sidebar:hover{
        box-shadow: none;

}



aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
    
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;

}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;


}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
    
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem-3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);

}

aside .sidebar a:hover span{
    margin-left: 0.6rem;

}




main{
    margin-top: 1.4rem;

}


    

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;

}
        

.right-section{
    margin-top: 1.4rem;

}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    
}

.right-section .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}
   
       
        









        